<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="btn btn-outline-success my-2 my-sm-0" id="menu-toggle">SideBar</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='dashboard'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='componente-uno'>Componente uno</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink='login' type="submit">Login</button>
    </form>
  </div>
</nav>