<div class="container">
  <h2>Mostrando ARRAY #1 --> OBJ </h2>
  <pre> {{ arrayA | json }} </pre>
  <div class="container">
    <h1>Mostrando Array #2 --> OBJ</h1>
    <pre> {{ arrayB | json }} </pre>
  </div>
  
</div>
<div class="container">
  <h1>Mostrando OBJETO ---> ARRAY</h1>
  <pre> {{ Obj | json }} </pre>
</div>