<section id="wrapper">
  <div class="login-register body col-md-6 mb-3 ">
      <div class="login-box">
          <!-- Formulario de Inicio de sesion -->
          <form class="form-horizontal form-material" id="loginform">
              <h3 class="box-title m-b-20">Inicia Sesion</h3>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input  class="form-control" type="text" id="email" [(ngModel)]="login.email" name="email" required placeholder="Nombre de Usuario o Email">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input  class="form-control" type="password" id="password" [(ngModel)]="login.password" name="password"  placeholder="Contraseña"> </div>
              </div>
              <div class="form-group text-center">
                  <div class="col-xs-12 p-b-20">
                      <button type="button" (click)="loginOn()"  class="btn btn-block btn-lg btn-info btn-rounded ">iniciar sesión</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <pre> {{ login | json }} </pre>
</section>

