<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Ejercicio EIS </div>
    <div class="list-group list-group-flush">
      <a routerLink='dashboard' class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink='componente-uno' class="list-group-item list-group-item-action bg-light">Componente #1</a>
      <a routerLink='login' class="list-group-item list-group-item-action bg-light">Login</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page">
    <nav class="avbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <app-header></app-header>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>