<div class="container">
  <div>
    <h1 class="posicion">Hola, Bienvenidos.</h1>
  </div>
  <div>
    <img src="./../../../assets/img/Logo.jpeg" alt="">
  </div>

  <form class="was-validated">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Nombre</label>
      <input type="text" class="form-control is-valid" id="validationServer01" name="nombre" [(ngModel)]="form.nombre" required>
    </div>

    <div class="form-correo col-md-6 mb-3">
      <label for="correo">Correo</label>
      <input type="email" class="form-control" [(ngModel)]="form.email" name="email" id="correo" placeholder="name@example.com" required>
      <div class="invalid-feedback">Este Campo es Necesario </div>
    </div>

    <!-- <div class="form-feecha col-md-6 mb-3"> -->
      <!-- <label for="exampleFormControlSelect1">Fecha</label> -->
      <!-- <select class="form-control" [(ngModel)]="form.fecha" name="fecha" id="fechaxs" required> -->
        <!-- <option >Seleccionar...</option> -->
        <!-- <option> {{dia.dd}}-{{dia.mm}}-{{dia.yy}} </option> -->
      <!-- </select> -->
    <!-- </div> -->
    <div class="form-group col-md-6 mb-3">
      <label for="validationTooltip01">Fecha</label>
      <input type="date" class="form-control" id="validationTooltip01" placeholder="Fecha" value="" name="fecha" [(ngModel)]="form.fecha" required>
      <div class="invalid-feedback">Este Campo es Necesario </div>
  </div>

    <div class="col-md-6 mb-3">
      <div class="input-group is-invalid">
        <div class="input-group-prepend">
          <label class="input-group-text" for="validatedInputGroupSelect">PAIS</label>
        </div>
        <select class="custom-select" id="validatedInputGroupSelect" name="pais" [(ngModel)]="form.pais" required>
          <option >Seleccionar...</option>
          <option *ngFor="let array of OB"> {{array.country}} </option>
        </select>
      </div>
    </div>

  </form>
  <div class="mt-3">
    <button *ngIf="form.nombre !== '' || form.email !== '' || form.fecha !== '' " type="button" (click)="sendForm()" class="btn btn-success">Enviar</button>
  </div>
  <pre> {{ form | json }} </pre>
</div>
<div class="ng-container">
  <div class="row">
    <div class="col">
      <pre> {{ city | json }} </pre>
    </div>
    <div class="col">
      <pre> {{ OB | json }} </pre>
    </div>
  </div>
</div>